@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';

.about{
    position: relative;
    z-index: 11;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    padding: 320px 0 0 0 ;
    @include m.d-flex(center,center,nowrap,column,0,0);

    &-text{
        width: 1000px;
        padding: 20px;
        line-height: 2.2;
        text-align: center;
        @include m.font(26px,400,v.$color__greywhite);

        &__bold{
        @include m.font(24px,700,v.$color__white);


        @media (max-width: v.$media_sm) {
        @include m.font(20px,700,v.$color__white);
            }
        @media (max-width: v.$media_mini) {
        @include m.font(18px,700,v.$color__white);
            }
        }

        @media (max-width: v.$media_lg) {
        width: 800px;
            }
        @media (max-width: v.$media_md) {
        width: 600px;
            }
        @media (max-width: v.$media_sm) {
        width: 400px;
        @include m.font(18px,300,v.$color__white);
            }
        @media (max-width: v.$media_mini) {
        width: 300px;
        @include m.font(14px,300,v.$color__white);
            }
    }
}