* {
    box-sizing: border-box;
    margin: 0;
    // outline: 1px solid red; 

}


body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    
}
h1,h2,h3,h4,h5,h6,ul,p,button {
    font-size: 24px;
    margin: 0;
    padding: 0;
}
article h1,
section h1,
aside h1,
nav h1 {
font-size: 24px;
}
a{
    text-decoration: none;
    white-space: nowrap;
}

li{
    list-style: none;
}

blockquote{
    margin: 0;
}

figure {
    margin: 0;
}
svg {
display: block;
}

hr{
    margin: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}