@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.cards {
    width: 100%;
    height: 100%;
    padding: 320px 0 0 0;
        @media (max-width:v.$media_lg){
        display: flex;
        @include m.d-flex(center, center, nowrap, column, 0, 0)
        }
        @media (max-width:v.$media_sm){
        padding: 220px 0 0 0;
        }
    &-title {
        @include m.d-flex(center, center, nowrap, column, 0, 0);
        &__text {
            width: 1000px;
            text-align: center;
            @include m.font(64px, 700, v.$color__white);
            
            @media (max-width:v.$media_lg){  
            @include m.font(56px, 700, v.$color__white);
        }
            @media (max-width:v.$media_md){  
            width: 600px;
            @include m.font(44px, 700, v.$color__white);
        }
            @media (max-width:v.$media_sm){
            @include m.font(32px, 700, v.$color__white);
        }
            @media (max-width: v.$media_min) {
            width: 428px;
            @include m.font(34px, 700, v.$color__white);
            }
            
        }
    }

    &-wrapper {
        width: 100%;
        padding:  50px 0 0 0;
        @include m.d-flex(center, center, wrap, row, 10px, 0);

        @media (max-width:v.$media_lg){
        gap: 20px;
        display: grid;
        max-width: 800px;
        place-items: center ;
        grid-template-areas: 
        "card1 . card2"
        "card3 . card4"
        ". card5 .";
        grid-template-columns: 2fr 2fr 2fr;
        }
        @media (max-width:v.$media_md){
            display: grid;
            max-width: 700px;
            place-items: center ;
            grid-template-areas: 
            "card1 card2 card3"
            "card4 card4 card5 card5";        
            grid-template-columns: 2fr 2fr 2fr;
        }
        @media (max-width:v.$media_sm){
            display: grid;
            max-width: 700px;
            place-items: center ;
            grid-template-areas: 
            "card1 card2"
            "card3 card4"
            "card5 card5";
            grid-template-columns: 2fr 2fr;
        }
        @media (max-width:v.$media_mini){
            gap: 10px;
        }

        &__hogwarts{
            width: 100%;
            height: 560px;
            display: block;
            overflow: hidden;
            max-width: 170px;
            position: relative;
            border-radius: 24px;
            background: url("../assets/hogwards.webp") center/cover no-repeat;
            transition: 0.4s ease-in-out;
            @media (max-width:v.$media_lg){
                grid-area: card1;
                width: 100%;
                height: 360px;
                max-width: 190px;
            }
            @media (max-width:v.$media_min){
                max-width: 150px;
            }
            &:hover,
            &:active,
            &:focus{
                width: 100%;
                cursor: pointer;
                max-width: 370px;
                @include m.d-flex(end, start, nowrap, column, 0, 30px);

                @media(max-width:v.$media_lg){
                max-width: 370px;
                }
                @media(max-width:v.$media_sm){
                max-width: 250px;
                }
                @media(max-width:v.$media_min){
                max-width: 180px;
                }
                @media(max-width:v.$media_mini){
                max-width: 170px;
                }
            .description{
                display: block;
                padding: 0 0 96px 32px;
                @media(max-width:v.$media_min){                
                    padding: 0 0 96px 15px;
                }
                @media(max-width:v.$media_mini){
                    @include m.font(14px,400,v.$color__white);
                }
            }
            .title{              
                top:86%;
                left:9%;
                transform: rotate(0);
                @include m.font(32px, 600, v.$color__white);

                @media(max-width:v.$media_lg){
                @include m.font(24px, 600, v.$color__white);
                }
                @media(max-width:v.$media_mini){
                @include m.font(20px, 600, v.$color__white);
                }
            }
            .metaverse{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 32px;
                @media(max-width:v.$media_min){                   
                    margin: 0 0 0 15px;
                }
            }
            }

            &-description {
                display: none;
                @include m.font(16px, 400, v.$color__white);
            }

            &-title {
                transform-origin: bottom ;
                top: 67%;
                left:-8%;
                width: 240px;
                position: absolute;
                transform: rotate(-90deg);
                @include m.font(32px, 600, v.$color__white);

                    @media (max-width:v.$media_lg){
                    top: 48%;
                }
            }
        }

        &__upside{
            width: 100%;
            height: 560px;
            display: block;
            overflow: hidden;
            max-width: 170px;
            position: relative;
            border-radius: 24px;
            background: url("../assets/upside.webp") center/cover no-repeat;
            transition: all 0.4s ease-in-out;
                @media (max-width:v.$media_lg){ 
                    grid-area: card2;
                    width: 100%;
                    height: 360px;
                    max-width: 190px;
            }
                @media (max-width:v.$media_min){ 
                    max-width: 150px;
            }
            &:hover,
            &:active,
            &:focus{
                width: 100%;
                cursor: pointer;
                max-width: 370px;
                @include m.d-flex(end, start, nowrap, column, 0, 30px);

                @media(max-width:v.$media_lg){
                max-width: 370px;
                }
                @media(max-width:v.$media_sm){
                max-width: 250px;
                }
                @media(max-width:v.$media_min){
                max-width: 180px;
                }
                @media(max-width:v.$media_mini){
                max-width: 170px;
                }
            .description{
                display: block;
                padding: 0 0 96px 32px;
                @media(max-width:v.$media_min){                   
                    padding: 0 0 96px 15px;
                }
                @media(max-width:v.$media_mini){
                    @include m.font(14px,400,v.$color__white);
                }
            }
            .title{              
                top:86%;
                left:9%;
                transform: rotate(0);
                transform-origin: unset ;

                @media(max-width:v.$media_lg){
                @include m.font(20px, 600, v.$color__white);
                }
                @media(max-width:v.$media_mini){
                @include m.font(17px, 600, v.$color__white);
                }
            }
            .metaverse{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 32px;
                @media(max-width:v.$media_min){                   
                    margin: 0 0 0 15px;
                }
            }
            }
            &-description {
                display: none;
                @include m.font(16px, 400, v.$color__white);
            }
            &-title {
                top: 57%;
                left:-40%;
                width: 350px;
                position: absolute;
                transform-origin: bottom ;
                transform: rotate(-90deg);
                @include m.font(32px, 600, v.$color__white);
                    @media (max-width:v.$media_lg){
                    top: 33%;
                }
            }
        }

        &__kadirojo {
            width: 100%;
            height: 560px;
            display: block;
            overflow: hidden;
            max-width: 170px;
            position: relative;
            border-radius: 24px;
            background: url("../assets/kadirojo.webp") center/cover no-repeat;
            transition: all 0.4s ease-in-out;
            @media (max-width:v.$media_lg){
                width: 100%;
                height: 360px;
                max-width: 190px;
                grid-area: card3;
                background: url("../assets/kadirojo.webp")no-repeat;
        }
            @media (max-width:v.$media_min){
                max-width: 150px;
        }
            &:hover,
            &:active,
            &:focus{    
                width: 100%;
                cursor: pointer;
                max-width: 370px;
                @include m.d-flex(end, start, nowrap, column, 0, 30px);
                @media(max-width:v.$media_lg){
                max-width: 370px;
                }
                @media(max-width:v.$media_sm){
                max-width: 250px;
                }
                @media(max-width:v.$media_min){
                max-width: 180px;
                }
                @media(max-width:v.$media_mini){
                max-width: 170px;
                }
            .description{
                display: block;
                padding: 0 0 96px 32px;
                @media(max-width:v.$media_min){                
                    padding: 0 0 96px 15px;
                }
                @media(max-width:v.$media_mini){
                    @include m.font(14px,400,v.$color__white);
                }
            }
            .title{              
                top:86%;
                left:9%;
                transform: rotate(0);
                transform-origin: unset ;
                @include m.font(32px, 600,v.$color__white);
                @media(max-width:v.$media_lg){
                @include m.font(22px, 600, v.$color__white);
                }
                @media(max-width:v.$media_mini){                
                @include m.font(18px, 600, v.$color__white);
                }
            }
            .metaverse{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 32px;
                @media(max-width:v.$media_min){    
                margin: 0 0 0 15px;
                }
            }
            }

            &-description {
                display: none;
                @include m.font(16px, 400, v.$color__white);
            }

            &-title {
                transform-origin: bottom ;
                top: 64%;
                left:-18%;
                width: 265px;
                position: absolute;
                transform: rotate(-90deg);
                @include m.font(32px, 600, v.$color__white);

                @media (max-width:v.$media_lg){
                    top: 40%;
                }
            }
        }

        &__island {
            width: 100%;
            height: 560px;
            display: block;
            overflow: hidden;
            max-width: 170px;
            position: relative;
            border-radius: 24px;
            background: url("../assets/island.webp") center/cover no-repeat;
            transition: all 0.4s ease-in-out;
            @media (max-width:v.$media_lg){
                width: 100%;
                height: 360px;
                grid-area: card4;
                max-width: 190px;
                background: url("../assets/island.webp")no-repeat;
        }
            @media (max-width:v.$media_min){
                max-width: 150px;
        }
            &:hover,
            &:active,
            &:focus{
                width: 100%;
                cursor: pointer;
                max-width: 370px;
                @include m.d-flex(end, start, nowrap, column, 0, 30px);
                @media(max-width:v.$media_lg){
                max-width: 370px;
                }
                @media(max-width:v.$media_sm){
                max-width: 250px;
                }
                @media (max-width:v.$media_min){
                max-width: 180px;
                }
                @media(max-width:v.$media_mini){
                max-width: 170px;
                }
            .description{
                display: block;
                padding: 0 0 96px 32px;
                @media (max-width:v.$media_min){
                padding: 0 0 96px 15px;
                }
                @media(max-width:v.$media_mini){
                    @include m.font(14px,400,v.$color__white);
                }
            }
            .title{              
                top:86%;
                left:9%;
                transform: rotate(0);
                transform-origin: unset ;
                @media(max-width:v.$media_lg){
                @include m.font(24px, 600, v.$color__white);
                }
                @media(max-width:v.$media_min){                
                    left:6%;
                }
                @media(max-width:v.$media_mini){                  
                @include m.font(20px, 600, v.$color__white);
                }
            }
            .metaverse{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 32px;
                @media (max-width:v.$media_min){                
                    margin: 0 0 0 15px;
                }
            }
            }

            &-description {
                display: none;
                @include m.font(16px, 400, v.$color__white);
            }

            &-title {
                transform-origin: bottom ;
                top: 67%;
                left:-8%;
                width: 250px;
                position: absolute;
                transform: rotate(-90deg);
                @include m.font(32px, 600, v.$color__white);

                @media (max-width:v.$media_lg){
                    top: 44%;
                }
            }
        }

        &__hawkins {
            width: 100%;
            height: 560px;
            display: block;
            overflow: hidden;
            max-width: 170px;
            position: relative;
            border-radius: 24px;
            background: url("../assets/hawkins.webp") center/cover no-repeat;
            transition: all 0.4s ease-in-out;
            @media (max-width:v.$media_lg){
                grid-area: card5;
                width: 100%;
                height: 360px;
                max-width: 190px;
                }
            @media (max-width:v.$media_min){
                max-width: 150px;
                }
            &:hover,
            &:active,
            &:focus{
                width: 100%;
                cursor: pointer;
                max-width: 370px;
                @include m.d-flex(end, start, nowrap, column, 0, 30px);
                @media(max-width:v.$media_lg){
                max-width: 500px;
                }
                @media(max-width:v.$media_sm){
                max-width: 250px;
                }
                @media (max-width:v.$media_min){
                max-width: 180px;
                }
                @media (max-width:v.$media_mini){
                max-width: 170px;
                }
                
            .description{
                display: block;
                padding: 0 0 96px 32px;
                @media (max-width:v.$media_min){
                padding: 0 0 96px 15px;
                }
                @media(max-width:v.$media_mini){
                    @include m.font(14px,400,v.$color__white);
                }
            }
            .title{              
                top:86%;
                left:9%;
                transform: rotate(0);
                transform-origin: unset ;
                @media(max-width:v.$media_lg){
                @include m.font(24px, 600, v.$color__white);
                }
                @media(max-width:v.$media_mini){
                @include m.font(22px, 600, v.$color__white);
                }
            }
            .metaverse{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 0 32px;
                @media (max-width:v.$media_min){
                margin: 0 0 0 15px;
                }
            }
            }

            &-description {
                display: none;
                @include m.font(16px, 400, v.$color__white);
            }

            &-title {
                transform-origin: bottom ;
                top: 67%;
                left:-8%;
                width: 240px;
                position: absolute;
                transform: rotate(-90deg);
                @include m.font(32px, 600, v.$color__white);
                @include m.font(32px, 600, v.$color__white);
                    @media (max-width:v.$media_lg){
                    top: 49%;
                }
            }
        }
    }

}

.metaverse {
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    

    &-icon {
        align-items: center;
        width: 24px;
        height: 24px;
    }
}
