@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.footer{
    @include m.d-flex(center,center,nowrap,row,0,0);

    &-wrap{
        padding: 50px 0 50px 0;
        height: 100%;
        width: 1200px;
        @include m.d-flex(center,center,nowrap,row,0,0);
        &__title{
            @include m.font(24px,900,v.$color__white);
            width: 160px;
        @extend %hover;

        }
        &__description{
            margin: 0 220px 0 220px;
            width: 380px;
            @include m.font(14px,300,rgba(255, 255, 255, 0.5));
        }
        &__svg{
        @include m.d-flex(center,center,nowrap,row,30px,0);
        &-twitter{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
        &-linkedin{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
        &-instagram{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
        &-facebook{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
    }
    }
}