@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.footer{
    @include m.d-flex(center,center,nowrap,row,0,0);

    &-wrap{
        padding: 50px 0 50px 0;
        height: 100%;
        width: 1200px;
        @include m.d-flex(center,center,nowrap,row,0,0);
        @media(max-width:v.$media_xl){   
        width: 100%;
        max-width: 1100px;
            }
        @media(max-width:v.$media_lg){   
        width: 100%;
        max-width: 900px;
            }
        &__title{
            @include m.font(24px,900,v.$color__white);
            width: 160px;
            @extend %hover;
            @media(max-width:v.$media_md){
                margin: 0 0 0 20px;
            }

        }
        &__description{
            margin: 0 220px 0 220px;
            width: 380px;
            @include m.font(14px,300,rgba(255, 255, 255, 0.5));

            @media(max-width:v.$media_xl){              
                @include m.font(13px,300,rgba(255, 255, 255, 0.5));
            }

            @media(max-width:v.$media_md){                          
                margin: 0 80px 0 100px;
            }
        }
        &__svg{
        @include m.d-flex(center,center,nowrap,row,30px,0);
        @media(max-width:v.$media_md){
            margin: 0 20px 0 0;
            @include m.d-flex(center,center,nowrap,row,20px,0);
            }
        &-twitter{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
        &-linkedin{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
        &-instagram{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
        &-facebook{
            fill: white;
            width: 24px;
            height: 24px;
            transition: all 0.3s ;
            &:hover{
                fill: v.$color__orange;
                cursor: pointer;
                transform: scale(1.5);
            }
        }       
    }
    }
}