@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';

.header-wrapper{
    padding: 20px 0 0 0;
    width: 100%;
    height: 100px;
    @include m.d-flex(space-around,center,nowrap,row,0,0);
    
&__search{
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.3);
        cursor: pointer;
    }
}
&__title{
    @include m.font(24px,800);
    width: auto;
    height: auto;
    @extend %hover;

}
&__burger{
    fill: #fff;
    transition: all 0.3s ease-in-out;
    &:hover{
        cursor: pointer;

        transform: scale(1.3);
    }
    &-icon{
        
    }
}
}

