@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';

.header-wrapper{
    width: 100%;
    height: 100px;
    padding: 20px 0 0 0;
    @include m.d-flex(space-around,center,nowrap,row,0,0);
    
&__search{
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
            &:hover,
            &:active,
            &:focus{
    fill: #fff;
        transform: scale(1.3);
        cursor: pointer;
    }
}
&__title{
    width: auto;
    height: auto;
    @extend %hover;
    @include m.font(24px,800); 

}
&__burger{
    fill: #fff;
    transition: all 0.3s ease-in-out;
            &:hover,
            &:active,
            &:focus{
        cursor: pointer;
        fill: #9dff18;
        transform: scale(1.3);
    }
    &-icon{
        
    }
}
}

