@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.how {
    width: 100%;
    height: 800px;
    max-width: 1480px;
    padding: 200px 0 0 0;
    @include m.d-flex(center, center, nowrap, row, 150px, 0);

    @media (max-width: v.$media_xxl) {    
        @include m.d-flex(center, center, nowrap, row, 0, 0);
    }
    @media (max-width: v.$media_md) {    
        @include m.d-flex(center, center, nowrap, row, 40px, 0);
    }
    @media (max-width: v.$media_sm) { 
        @include m.d-flex(center, center, nowrap, row, 60px, 0);
            }
    @media (max-width: v.$media_min) { 
        @include m.d-flex(center, center, nowrap, row, 60px, 0);
        padding: 200px 78px 0 0;
            }
    &-img {
        height: 100%;
        width: 100%;
        position: relative;
    }

    &-img__planet {
        top: -14%;
        left: -4%;
        z-index: 3;
        width: 900px;
        height: 700px;
        position: absolute;
        background: url("../assets/planet.webp") no-repeat center center;
        @media (max-width: v.$media_xl) { 
        width: 660px;
        top: -16%;
            }
        @media (max-width: v.$media_lg) { 
        top: -6%;
        left: -4%;
        width: 560px;
        height: 570px;
            }
        @media (max-width: v.$media_md) { 
        top: 27%;
        left: 21%;
        width: 300px;
        height: 300px;
        background-size: 300px 300px;
            }
        @media (max-width: v.$media_sm) { 
        top: 25%;
        left: 18%;
        width: 300px;
        height: 300px;
        background-size: 200px 200px;
            }
        @media (max-width: v.$media_min) { 
        top: 34%;
        left: 50%;
        width: 180px;
        height: 180px;
        background-size: 180px 180px;
            }
        @media (max-width: v.$media_min) { 
        top: 36%;
            }

        &-background {
            top: 52%;
            right: -14%;
            z-index: 2;
            width: 560px;
            height: 260px;
            border-radius: 130px;
            position: relative;
            transform: rotate(4deg);
            background-color: rgba($color: #ffff, $alpha: 8%);

            @media (max-width: v.$media_xl) { 
            top: 52%;
            right: -6%;
            }
            @media (max-width: v.$media_lg) { 
            top: 49%;
            right: -4%;
            width: 460px;
            }
            @media (max-width: v.$media_md) { 
            top: 55%;
            right: -8%;
            height: 160px;
            width: 340px;
            }
            @media (max-width: v.$media_sm) { 
            top: 47%;
            right: -31%;
            height: 140px;
            width: 200px;
            }
            @media (max-width: v.$media_min) { 
            top: 52%;
            right: -44%;
            height: 100px;
            width: 190px;
            }
            @media (max-width: v.$media_mini) { 
            top: 52%;
            right: -44%;
            height: 100px;
            width: 170px;
            transform: rotate(6deg);
            }
        }
    }

    &-info {
        @include m.d-flex(start, start, nowrap, column, 0, 30px);
        @media (max-width: v.$media_lg) {            
            width: 440px;
            }
            @media (max-width: v.$media_sm) { 
            padding: 0 0 0 30px;
            }
            @media (max-width: v.$media_min) { 
            width: 340px;
            }
        &__title {
            width: 540px;
            @include m.font(64px, 700, v.$color__white);
            
            @media (max-width: v.$media_xxl) { 
                @include m.font(30px, 600, v.$color__white);
            }
            @media (max-width: v.$media_lg) {    
                @include m.font(24px, 600, v.$color__white);
            }
            @media (max-width: v.$media_sm) {    
                @include m.font(20px, 600, v.$color__white);
                padding: 0 0 0 10px;
            }
            @media (max-width: v.$media_min) {
                width: 190px;
                @include m.font(15px, 600, v.$color__white);
            }
        }

        &__first {
            @include m.d-flex(center, center, nowrap, row, 30px, 0);
            @include m.font(18px, 400, v.$color__greywhite);
            @media (max-width: v.$media_min) { 
                @include m.d-flex(center, center, nowrap, row, 15px, 0);
            }
            @media (max-width: v.$media_mini) { 
                @include m.d-flex(center, center, nowrap, row, 10px, 0);
            }
            &-number {
                width: 70px;
                height: 70px;
                border-radius: 20px;
                @include m.font(20px, 500, v.$color__white);
                background-color: rgba($color: #ffff, $alpha: 8%);
                @include m.d-flex(center, center, nowrap, row, 30px, 0);

                @media (max-width: v.$media_xxl) { 
                width: 60px;
                height: 60px;
            }
                @media (max-width: v.$media_min) { 
                width: 50px;
                height: 50px;
                border-radius: 20px;
            }
            }

            &-description {
                @include m.font(18px,400,v.$color__greywhite);
                width: 270px;
                @media (max-width: v.$media_xxl) {            
                @include m.font(16px, 400, v.$color__greywhite);
                }
                @media (max-width: v.$media_lg) {    
                @include m.font(14px, 400, v.$color__greywhite);
                }
                @media (max-width: v.$media_sm) {
                width: 210px;
                }
                @media (max-width: v.$media_min) {
                width: 160px;
                @include m.font(13px, 400, v.$color__greywhite);
                }
                @media (max-width: v.$media_mini) {
                width: 135px;
                @include m.font(12px, 400, v.$color__greywhite);
                }
            }
        }

        &__second {
            @include m.font(18px, 400, v.$color__greywhite);
            @include m.d-flex(center, center, nowrap, row, 30px, 0);
            @media (max-width: v.$media_min) { 
                @include m.d-flex(center, center, nowrap, row, 15px, 0);
            }
            @media (max-width: v.$media_xxl) { 
                @include m.font(16px, 400, v.$color__greywhite);
            }
            @media (max-width: v.$media_mini) { 
                @include m.d-flex(center, center, nowrap, row, 10px, 0);
            }
            &-number {
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                border-radius: 20px;
                justify-content: center;
                @include m.font(20px, 500, v.$color__white);
                background-color: rgba($color: #ffff, $alpha: 8%);

                @media (max-width: v.$media_xxl) { 
                width: 60px;
                height: 60px;
            }
            @media (max-width: v.$media_min) { 
                width: 50px;
                height: 50px;
                border-radius: 20px;
            }
            }

            &-description {
                @include m.font(18px,400,v.$color__greywhite);
                width: 330px;
                @media (max-width: v.$media_xxl) {            
                @include m.font(16px, 400, v.$color__greywhite);
                }
                @media (max-width: v.$media_lg) {    
                @include m.font(14px, 400, v.$color__greywhite);
                }
                @media (max-width: v.$media_sm) {
                width: 210px;
                }
                @media (max-width: v.$media_min) {
                width: 160px;
                @include m.font(13px, 400, v.$color__greywhite);
                }
                @media (max-width: v.$media_mini) {
                width: 140px;
                @include m.font(12px, 400, v.$color__greywhite);
                }
            }
        }

        &__three {
            @include m.font(18px, 400, v.$color__greywhite);
            @include m.d-flex(center, center, nowrap, row, 30px, 0);
            @media (max-width: v.$media_min) { 
                @include m.d-flex(center, center, nowrap, row, 15px, 0);
            }
            @media (max-width: v.$media_xxl) { 
                @include m.font(16px, 400, v.$color__greywhite);
            }
            @media (max-width: v.$media_mini) { 
                @include m.d-flex(center, center, nowrap, row, 10px, 0);
            }
            &-number {
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                border-radius: 20px;
                justify-content: center;
                @include m.font(20px, 500, v.$color__white);
                background-color: rgba($color: #ffff, $alpha: 8%);

                @media (max-width: v.$media_xxl) { 
                width: 60px;
                height: 60px;
            }
                @media (max-width: v.$media_min) { 
                width: 50px;
                height: 50px;
                border-radius: 20px;
            }
            }

            &-description {
                width: 335px;
                @include m.font(18px,400,v.$color__greywhite);
                @media (max-width: v.$media_xxl) {            
                @include m.font(16px, 400, v.$color__greywhite);
                }   
                @media (max-width: v.$media_lg) {    
                @include m.font(14px, 400, v.$color__greywhite);
                width: 300px;
                }   
                @media (max-width: v.$media_sm) {
                width: 210px;
                }
                @media (max-width: v.$media_min) {
                width: 160px;
                @include m.font(13px, 400, v.$color__greywhite);
                }
                @media (max-width: v.$media_mini) {
                    width: 130px;
                    @include m.font(12px, 400, v.$color__greywhite);
                }
            }
        }
    }
}
