@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.insight {
    padding: 90px 0 0 0;
    width: 100%;
    height: 100%;
    @include m.d-flex(center, center, nowrap, column, 0, 0);

    &-blocks {
        @include m.d-flex(center, center, nowrap, column, 0, 30px);
        width: 100%;

        &__title {
            padding-top: 5px;
            @include m.font(64px, 600, v.$color__white);
        }

        &__launch {
            padding: 30px 0 0 0;
            @include m.d-flex(center, center, nowrap, row, 68px, 0);

            .launch-img {
                background: url("../assets/launch.webp") center/cover no-repeat;
                width: 270px;
                height: 250px;
                border-radius: 24px;
                position: left;
            }
            .launch-description {
                width: 690px;
                height: 100%;

                &__title {
                    @include m.font(44px, 400, v.$color__white);
                }
                &__text {
                    padding: 16px 0 0 0;
                    line-height: 2;
                    @include m.font(20px, 300, rgba(#ffff, 0.5));
                }
            }
            .launch-button {
                width: 100px;
                height: 100px;
                padding: 0 0 0 32px;
                &__svg {
                    width: 100px;
                    height: 100px;
                    transition: 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
                    
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__master {
            @include m.d-flex(center, center, nowrap, row, 68px, 0);
            .master-img {
                background: url("../assets/master.webp") center/cover no-repeat;
                width: 270px;
                height: 250px;
                border-radius: 24px;
                position: left;
            }
            .master-description {
                width: 690px;
                height: 100%;

                &__title {
                    @include m.font(44px, 400, v.$color__white);
                }
                &__text {
                    padding: 16px 0 0 0;
                    line-height: 2;
                    @include m.font(20px, 300, rgba(#ffff, 0.5));
                }
            }
            .master-button {
                width: 100px;
                height: 100px;
                padding: 0 0 0 32px;
                &__svg {
                    width: 100px;
                    height: 100px;
                    transition: 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__platform {
            @include m.d-flex(center, center, nowrap, row, 68px, 0);
            .platform-img {
                background: url("../assets/platform.webp") center/cover no-repeat;
                width: 270px;
                height: 250px;
                border-radius: 24px;
                position: left;
            }
            .platform-description {
                width: 690px;
                height: 100%;

                &__title {
                    @include m.font(44px, 400, v.$color__white);
                }
                &__text {
                    padding: 16px 0 0 0;
                    line-height: 2;
                    @include m.font(20px, 300, rgba(#ffff, 0.5));
                }
            }
            .platform-button {
                width: 100px;
                height: 100px;
                padding: 0 0 0 32px;
                &__svg {
                    width: 100px;
                    height: 100px;
                    transition: 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &-footer{
        width: 100%;
        position: relative;
        padding-top: 250px;
        @include m.d-flex(center, center, nowrap, row, 32px, 0);

        &__samantha{
            z-index: -1;
            width: 370px;
            height: 610px;
            padding: 30px;
            position: relative;
            border-radius: 24px;
            border: 1px solid grey;
            @include m.d-flex(end, start, nowrap, column, 0, 8px);
            background-color: rgba($color: #ffff, $alpha: 5%);
            &-title{
                @include m.font(32px,600,v.$color__white);
            }
            &-signature{
                padding: 0 0 16px 0;
                @include m.font(18px,200,v.$color__white);
            }
            &-description{
                line-height: 2;
                @include m.font(24px,2300,v.$color__white);
            }
        }
        &__explore{
            top: 23%;
            left: 32%;
            opacity: 0.9;
            z-index: 999;
            width: 160px;
            height: 360px;
            position: absolute;
            transform: rotate(-30deg);
            background: url("../assets/explore.webp")center/cover no-repeat;

        }
        &__image{
            z-index: -1;
            width: 768px;
            height: 610px;
            position: relative;
            border-radius: 24px;
            background: url("../assets/rocket.webp")center/cover no-repeat;
        }
    }
    &-bottom{
        width: 1200px;
        border-bottom:3px solid v.$color__whiteopacity;
        padding: 250px 0 80px 0;
        @include m.d-flex(center, end, nowrap, row, 326px, 0);
        &__title{
            padding: 0 0 10px 0;
        &-text{
            @include m.font(38px, 800, v.$color__white);
        }
    }
        &__button{
            border: none;
            height: 64px;
            width: 246px;
            border-radius: 34px;
            transition: all 0.3s ease-in-out;
            background-color: v.$color__ocean;
            @include m.d-flex(center, center, nowrap, row, 12px, 0);

            &-svg{
                width: 24px;
                height: 18px;
                
            }

            &-text{
            @include m.font(14px, 300, v.$color__white);
            }
            &:hover{
                cursor: pointer;
                background-color: v.$color__purple ;
            }
        }
    }
}
