$color__white:white;
$color__purple:#4B0082;
$color__background:#1A232E;







$media_xxl:1440px;
$media_xl:1200px;
$media_lg:992px;
$media_md:768px;
$media_sm:576px;
$media_min:428px;
$media_mini:400px;