$color__white:white;
$color__purple:#4B0082;
$color__ocean:#25618B;
$color__background:#1A232E;
$color__greywhite:#B0B0B0;
$color__greyopacity:rgba(#C7C7C7,0.5);
$color__whiteopacity:rgba(#C7C7C7,0.2);







$media_xxl:1440px;
$media_xl:1200px;
$media_lg:992px;
$media_md:768px;
$media_sm:576px;
$media_min:428px;
$media_mini:400px;