@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.new {
    width: 100%;
    height: 800px;
    margin: 0 auto;
    max-width: 1480px;
    padding: 240px 0 0 0;
    @include m.d-flex(center, center, nowrap, row, 100px, 0);
    
    @media (max-width:v.$media_xxl){
    @include m.d-flex(center, center, nowrap, row, 0, 0);
    }
    @media (max-width:v.$media_md){
    @include m.d-flex(center, center, nowrap, row, 20px, 0);
    height: 900px;
    }
    &-info {
        padding: 0 0 0 135px;
        @media(max-width:v.$media_lg){
        padding: 0 0 0 90px;
            }
        @media(max-width:v.$media_md){
        width: 420px;
        padding: 0 0 0 40px;
            }
        &__title {
            @include m.font(64px, 800, v.$color__white);
            @media (max-width:v.$media_lg){            
                @include m.font(58px, 800, v.$color__white);
            }
        }
        &__categories {
            padding: 48px 0 0 0;
            @include m.d-flex(start, start, nowrap, row, 46px, 0);

            &-world-svg {
                padding: 23px;
                width: 70px;
                height: 70px;
                border-radius: 24px;
                background-color: rgba($color: #ffff, $alpha: 8%);
            }
            &-world-title {
                padding: 24px 0 16px 0;
                @include m.font(24px, 600, v.$color__white);
            }

            &-world-desc {
                width: 229px;
                line-height: 28px;
                @include m.font(16px, 400, v.$color__greywhite);

                @media (max-width:v.$media_md){           
                width: 150px;
            }
            }

            &-realistic-svg{
                padding: 23px;
                width: 70px;
                height: 70px;
                border-radius: 24px;
                background-color: rgba($color: #ffff, $alpha: 8%);
            }
            &-realistic-title{
                padding: 24px 0 16px 0;
                @include m.font(24px, 600, v.$color__white);
            }
            &-realistic-desc{
                width: 239px;
                line-height: 28px;
                @include m.font(16px, 400, v.$color__greywhite);
                @media (max-width:v.$media_md){           
                width: 150px;
            }
            }
        }
    }

    &-img {
        width: 100%;
        height: 700px;
        position: relative;
        @media (max-width:v.$media_xxl){
    }
        &__planet {
            width: 100%;
            z-index: 3;
            width: 900px;
            height: 700px;
            position: absolute;
            background: url("../assets/emptyplanet.webp") no-repeat center center;

            @media(max-width:v.$media_xl){
                max-width: 600px;
                left: 48%;
            }
            @media (max-width:v.$media_lg){
                max-width: 582px;
                left: 41%;
                top: 30%;
            }
            @media (max-width:v.$media_md){
                top: 38%;
                left: 10%;
                width: 300px;
                height: 300px;
                background-size: 300px 300px;
            }

            &-background {
                top: 44%;
                right: -12%;
                z-index: 2;
                width: 560px;
                height: 260px;
                position: relative;
                border-radius: 130px;
                transform: rotate(-4deg);
                background-color: rgba($color: #ffff, $alpha: 8%);

                @media(max-width:v.$media_xl){
                top: 42%;
                right: -7%;
                width: 500px;
                transform: rotate(-5deg);
            }
                @media(max-width:v.$media_lg){
                top: 44%;
                right: 6%;
                width: 500px;
                transform: rotate(-5deg);
            }
                @media(max-width:v.$media_md){
                top: 62%;
                right: -3%;
                width: 340px;
                height: 160px;
            }
            }
        }
    }
}
